<div class="footer-personal text-center">
  <ul>
    <li>
      <a href="/">Blog List</a>
    </li>
    <li>
      <a href="/about">Add Blog</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio List</a>
    </li>
    <li>
      <a href="/contact">Log Out</a>
    </li>
  </ul>
  <br />

  <span class="footer-credits">© Copyright 2020 - Designed with love</span>
</div>
