<div class="footer-personal text-center">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About me</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <br />

  <span class="footer-credits">© Copyright 2020 - Designed with love</span>
</div>
