<!-- Homepage Main Section-->
<div class="main">
  <section class="split-home">
    <section class="left-section wow fadeIn" data-wow-delay=".2s"></section>
    <section class="right-section">
      <a href="/" class="logo hidden-xs hidden-sm"
        ><img src="assets/images/logo.png" width="35" height="35" alt="Logo"
      /></a>
      <div class="split-about">
        <div class="split-about-details">
          <h4 class="wow fadeInLeft" data-wow-delay=".1s">About</h4>
          <h1 class="wow fadeInLeft" data-wow-delay=".2s">Abdulladif Roble</h1>
          <span class="wow fadeInLeft" data-wow-delay=".3s">Web Developer</span>
          <p class="wow fadeInLeft" data-wow-delay=".3s">
            Abdulladif Roble is a software engineer and a product developer who
            has more than 7 years’ experience. He took up managerial roles at
            high profile tech companies in Somaliland he has experience in
            systems & software development, operations management, procurement
            management, product development, information technology management
            and business development. He played a vital role in developing an
            IVR system which helps local farmers in drought inflicted regions in
            Somaliland alongside local NGO’S. He currently holds a degree in
            software engineering but also currently pursuing a masters in
            project management.
          </p>
          <div class="split-about-experience">
            <h4 class="wow fadeInLeft" data-wow-delay=".4s">
              Work and Experience
            </h4>
          </div>
          <div class="split-about-experience">
            <h4 class="wow fadeInLeft" data-wow-delay=".4s">
              Work and Experience
            </h4>
            <ul>
              <li>
                <h3>
                  Senior Software Developer - SSG Ltd
                </h3>
                <p>
                  SSG Ltd is a technology company that provides expert IT
                  soultions where i was a senior software developer with a small
                  team working under my supervision and guidance. We would
                  develop all types of tech business solutions to companies as
                  well as providing our technology services to public
                  institutions and local NGO's
                </p>
                <h6>2019 - Present</h6>
              </li>
              <li>
                <h3>Software Developer - SAMS</h3>
                <p>
                  SAMS is an agricultural tech company that uses technology and
                  other innovativesolutions to enhance agriculture communities
                  where we Launch a IVR system with Shaqodoon organization
                  targeting local farmers in rural areas to be up to date
                  withlocal market prices. This system was launch on 2018's
                  global entrepreneurship week id.
                </p>
                <h6>2017 - 2019</h6>
              </li>
              <li>
                <h3>System Developer - DalboFood</h3>
                <p>
                  DalboFood is a standard and registered home and office food
                  delivery company where i was head of all the technical
                  activties and developed the food develivery system they work
                  on.
                </p>
                <h6>2017 - 2017</h6>
              </li>
              <li>
                <h3>Bachelor's in Software Engineering</h3>
                <h6>2015 - 2018</h6>
              </li>
            </ul>
          </div>
          <h2>
            Have a great plan that <br class="hidden-xs" />
            needs a developer ?
          </h2>
          <a class="btn-contact" href="contact">Hire Me</a>
        </div>
      </div>

      <!-- Footer Split Home -->
      <%- include('./partials/footer') -%>
    </section>
  </section>
</div>
<!-- Main-->
