<!-- Homepage Main Section-->
<div class="main">
  <section class="split-home">
    <section class="left-section wow fadeIn" data-wow-delay=".2s"></section>
    <section class="right-section">
      <a href="#" class="logo hidden-xs hidden-sm"
        ><img src="assets/images/logo.png" width="35" height="35" alt="Logo"
      /></a>
      <div class="portfolio-split">
        <div class="portfolio-intro">
          <span class="wow fadeInDown" data-wow-delay=".1s">Blog</span>
          <h1 class="wow fadeInDown" data-wow-delay=".2s">
            My thoughts and my experience in words!
          </h1>
          <div class="row pt-2">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <form method="get" action="blog">
                <label for="form_name">Search Blog</label>
                <input
                  id="form_name"
                  type="text"
                  name="search"
                  class="form-control"
                  placeholder="Search Blog Name"
                />
                <div class="help-block with-errors"></div>
              </form>
            </div>
          </div>
          <div class="col-md-12 pt-4 pb-4" style="text-align: center;">
            <h4
              style="
                display: inline;
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #ffffff;
                background: #4d61ff;
                padding: 2px 4px;
                line-height: 1.2;
              "
            >
              Working on the blog section. Hopefully Coming Soon
            </h4>
          </div>
        </div>
      </div>
      <!-- Footer Split Home -->
      <%- include('./partials/footer') -%>
    </section>
  </section>
</div>
<!-- Main-->
