<!-- Homepage Main Section-->
<div class="main">
  <section class="split-home">
    <section
      class="left-section"
      class="wow fadeIn"
      data-wow-delay="3.1s"
    ></section>
    <section class="right-section">
      <a href="/" class="logo hidden-xs hidden-sm"
        ><img src="assets/images/logo.png" width="50" height="50" alt="Logo"
      /></a>
      <div class="intro-personal">
        <div class="intro-text">
          <h1 class="wow fadeInDown pb-5" data-wow-delay=".1s">
            A developer <br />who develops sh**<br />
            that somehow works!
          </h1>

          <div>
            <h4
              style="
                display: inline;
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                float: center;
                text-transform: uppercase;
                color: #ffffff;
                background: #4d61ff;
                padding: 2px 4px;
                line-height: 1.2;
              "
            >
              Languages and Technologies i use
            </h4>
            <div class="container">
              <div class="row pb-4 pt-4">
                <div class="col-sm">
                  <img
                    src="assets/images/js.png"
                    width="70"
                    height="50"
                    alt="Javascript"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/node.png"
                    width="70"
                    height="50"
                    alt="nodejs"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/php.png"
                    width="70"
                    height="50"
                    alt="PHP"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/express.png"
                    width="90"
                    height="50"
                    alt="Express"
                  />
                </div>
              </div>
              <!-- SECOND ROW-->
              <div class="row pb-4">
                <div class="col-sm">
                  <img
                    src="assets/images/react.png"
                    width="70"
                    height="50"
                    alt="react"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/git.png"
                    width="70"
                    height="50"
                    alt="git"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/wordpress.png"
                    width="70"
                    height="50"
                    alt="wordpress"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/mysql.png"
                    width="70"
                    height="50"
                    alt="mysql"
                  />
                </div>
              </div>
              <!-- End second row-->

              <!-- Start three rows-->
              <div class="row">
                <div class="col-sm">
                  <img
                    src="assets/images/mongo.png"
                    width="90"
                    height="50"
                    alt="mongodb"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/bootstrap.png"
                    width="70"
                    height="50"
                    alt="bootstrap"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/css.png"
                    width="50"
                    height="50"
                    alt="css"
                  />
                </div>
                <div class="col-sm">
                  <img
                    src="assets/images/html.png"
                    width="50"
                    height="50"
                    alt="html"
                  />
                </div>
              </div>
              <!-- End third row-->
            </div>
          </div>
          <a
            href="portfolio.html"
            class="btn-contact wow fadeIn"
            data-wow-delay=".2s"
            >See My Work</a
          >
        </div>
      </div>
      <%- include('./partials/footer') -%>
    </section>
  </section>
</div>
<!-- Main-->
