@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* .dark-mode {
  color: #eeeeee;
  background: #111111;
} */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 16px;
}

.active {
  @apply bg-active py-1.5 px-2 rounded;
}
:root {
  /* Your default theme */
  --background: #f0f0f0;
  --foreground: #111111;
  --gray: #111111;
  --darkGray: #e8e8e8; /* tech stack backgrounds */
  --hover: #7c7c7c;
  --button: #111111;
  --input: #f0f0f0;
  --active: #dedede;
}

[data-theme="dark"] {
  --background: #111111;
  --foreground: #eeeeee;
  --gray: #b4b4b4;
  --darkGray: #262626;
  --hover: #b4b4b4;
  --button: #f0f0f0;
  --input: #2b2a33;
  --active: #262626;
}
